@use "../util/" as u;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.home {
  flex-direction: column;
  height: 77vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.26);
  color: rgb(0, 0, 0);
  transition: background 0.3s, color 0.3s;

  h1 {
    margin-bottom: u.rem(40);
    font-family: "Noto Sans", sans-serif;
    font-size: u.rem(70);
  }

  .google-search {
    position: relative;

    input {
      padding: 0 u.rem(20);
      width: 400px;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 20px;
      outline: none;
    }

    .placeholder {
      position: absolute;
      left: u.rem(50);
      top: u.rem(10);
    }

    svg {
      position: absolute;
      width: u.rem(30);
      top: u.rem(7);
      left: u.rem(7);
    }
  }

  button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .search-btn {
    background-color: #4285f4;
    color: white;
  }
  .toggle-btn {
    background-color: #f1f1f1;
    margin: 20px 0;
  }
}

.dark-mode {
  background-color: rgba(24, 24, 24, 0.26);
  color: white;
}
