@use "../util/" as u;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.home {
  position: relative;
  flex-direction: column;
  height: 77vh;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.26);
  color: rgb(0, 0, 0);
  border-radius: u.rem(30);
  transition: background 0.3s, color 0.3s;

  img {
    width: u.rem(400);
    height: u.rem(150);
    margin-bottom: u.rem(0);
    font-family: "Noto Sans", sans-serif;
  }

  .google-search {
    position: relative;
    margin-bottom: u.rem(25);
    height: u.rem(45);

    input {
      padding: u.rem(10);
      padding-right: 40px;
      width: 400px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 20px;
      outline: none;
    }

    .placeholder {
      position: absolute;
      left: u.rem(50);
      top: u.rem(10);
    }

    svg {
      position: absolute;
      width: u.rem(30);
      right: u.rem(10);
      top: u.rem(8);
    }
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .search-btns {
    button {
      border: 2px solid var(--project-btn-neon);
      background-color: var(--project-btn-neon);
      border-radius: 20px;
      color: rgb(0, 0, 0);
    }

    .lucky-btn {
      box-shadow: inset 0 0 0.5em 0 var(--project-btn-neon),
        0 0 0.5em 0 var(--project-btn-neon);
    }
  }

  .toggle-btn {
    position: absolute;
    top: 0;
    right: 20px;
    margin: 20px 0;
    background-color: transparent;
    border: 1px solid #fff;
    box-shadow: inset 0px 0px 20px 3px #000;

    svg {
      width: 30px;
    }
  }
}

.dark-mode {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
