@use "../util/" as u;

.projects {
  height: 75vh;
  background-color: transparent;
  overflow: hidden;

  .carousel-container {
    width: 80vw;
    height: 65vh;
    // overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .carousel {
      display: flex;
      gap: u.rem(30);
      width: max-content;
      white-space: nowrap;
    }

    .card {
      padding: u.rem(15);

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-items: center;
      min-width: u.rem(400);
      height: u.rem(600);

      background: rgba(16, 17, 17, 0.479);
      border-radius: u.rem(32);
      box-shadow: 0 u.rem(5) u.rem(20) u.rem(2) rgba(255, 255, 255, 0.267);
      backdrop-filter: blur(3.1px);
      -webkit-backdrop-filter: blur(3.1px);
      border: 1px solid rgba(0, 0, 0, 0.678);

      font-size: u.rem(24);
      font-weight: var(--fw-900);
      color: var(--tc-black);
      transition: transform 0.3s ease;

      h3 {
        margin-bottom: u.rem(10);
        color: var(--tc-white);
      }

      .icons {
        margin-bottom: u.rem(10);
        display: flex;
        gap: u.rem(15);

        img {
          width: u.rem(40);
          height: auto;
        }
      }

      .card-img {
        margin-bottom: u.rem(10);

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: u.rem(190);
          height: auto;
          margin-bottom: u.rem(10);
          transition: var(--transition);
          z-index: 1;

          &:hover {
            transform: scale(1.4);
          }
        }

        .password-img,
        .bento-img {
          width: u.rem(250);
          height: auto;
        }

        .blackjack-img {
          width: u.rem(250);
          height: auto;
        }
      }

      .card-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: u.rem(10);

        a {
          padding: u.rem(10) u.rem(15);
          border-radius: u.rem(10);
          background-color: transparent;
          box-shadow: inset 0 0 0.5em 0 var(--project-btn-neon),
            0 0 0.5em 0 var(--project-btn-neon);

          font-size: u.rem(16);
          border: 1px solid var(--project-btn-neon);
          transition: var(--transition);

          &:hover {
            background-color: transparent;
          }
        }

        .card-btn--2 {
          position: relative;
          border: 1px solid var(--project-btn-neon);
          background-color: transparent;
          // text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
          box-shadow: inset 0 0 0.5em 0 var(--project-btn-neon),
            0 0 0.5em 0 var(--project-btn-neon);
          transition: var(--transition);

          &::after {
            position: absolute;
            content: "";
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: u.rem(10);
            box-shadow: 0 0 2em 0.5em var(--project-btn-neon);
            opacity: 0;
            background-color: var(--project-btn-neon);
            z-index: -1;
            transition: opacity 100ms linear;
          }

          &:hover,
          &:focus {
            background-color: var(--project-btn-neon);
            color: var(--tc-gray-drk);
            text-shadow: none;
          }

          &:hover::after,
          &:focus::after {
            opacity: 1;
          }
        }
      }
    }

    .card.active {
      transform: scale(1.2);
    }
  }
}

// @keyframes scroll {
//   from {
//     transform: translateX(0);
//   }
//   to {
//     transform: translateX(-50%);
//   }
// }
